body {
    background-color: #1260cc;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #009ed3;
    letter-spacing: 5px;    
}

.white {
    color: #fff;
}

.brand {
    color: #009ed3;
}

ul {
    list-style: none;
}

.info {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.padding ul li {
    padding: 5px 0;
}

/* footer */
.footer {   
    background-color: #f1f1f1;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

/* map */
#map {
     height: 280px;
     border: 1px solid black; 
}

.gap {
    padding: 3px;
}

/* forms */
.bg-form {
    background-color: #d4d4d4;
}