/* body {
    background:
      repeating-conic-gradient(#BF4D28 0 .00005%,#E1F5C4 0 .00017%) 0 0/5000px 4000px
  } */

body {
    background-color: burlywood;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #009ed3;
    letter-spacing: 5px;    
}

.brand {
    color: #009ed3;
}

ul {
    list-style: none;
}

.info {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.padding ul li {
    padding: 5px 0;
}

/* footer */
.footer {   
    background-color: #f1f1f1;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

/* map */
#map {
     height: 280px;
     border: 1px solid black; 
}