body {
    background-color: #1e90ff;
}

h1, .display-1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #d4d4d4;
    letter-spacing: 5px;    
}

.white {
    color: #fff;
}

/* .brand {
    color: #009ed3;
} */

.brand {
    color: black;
}

ul {
    list-style: none;
}

.info {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.padding ul li {
    padding: 5px 0;
}

/* footer */
.footer {   
    background-color: #f1f1f1;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

/* map */
#map {
     height: 280px;
     border: 1px solid black; 
}

.gap {
    padding: 3px;
}

/* forms */
.bg-form {
    background-color: #d4d4d4;
}

.center-screen {
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);    
  }

.max_width {
    max-width: 90%;
}

@media screen and (min-width: 576px) {

    .max_width {
        max-width: 50%;
    }
  
  }
