{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- form to update booking -->
<h1 class="display-3 mt-5">Update Booking</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3 mb-3 offset-md-4">
      <form method="post" style="margin-top: 1.3em;">
        {{ form | crispy }}
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-primary btn-signup btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}