{% extends "base.html" %}

{% block content %}





<!-- <form method="post" style="margin-top: 1.3em;">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-signup btn-lg">Submit</button>
</form> -->
<h1 class="display-1 mt-5">Place Booking</h1>
<div class="container">
  


    <div class="row bg-dark text-white">
        <div class="col-md-4 mt-3 mb-3 offset-md-4">
            <form method="post" style="margin-top: 1.3em;">
                {{ form.as_p }}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-primary btn-signup btn-lg">Submit</button>
            </form>
        </div>

    </div>

</div>

{%endblock%}