{% extends "base.html" %}

{% block content %}


<h1 class="display-3 mt-5 text-dark">My Bookings</h1>

{% if not bookings %}

<h2 class="text-center text-white">You have no bookings</h2>

{% else %}

{% for booking in bookings %}

<div class="container">

  {% if booking.approved is True %}

  <div class="row">
    <div class="col-md-8 mt-3 info mb-3 offset-md-2">
      <h5>Activity Type: {{ booking.activity_type }}</h5>
      <p>Event Date: {{ booking.booking_date }}</p>
      <p>Number in Group: {{ booking.total_no_group }}</p>
      <p>Date of Booking: {{ booking.creation_date }}</p>
      <h5>Contact Name: {{ booking.contact_name }} <span class="btn btn-success btn-sm disabled">Confirmed</span></h5>
    </div>
  </div>
  {% else %}

  <div class="row">
    <div class="col-md-8 mt-3 info mb-3 offset-md-2">
      <h5>Activity Type: {{ booking.activity_type }}</h5>
      <p>Event Date: {{ booking.booking_date }}</p>
      <p>Number in Group: {{ booking.total_no_group }}</p>
      <p>Date of Booking: {{ booking.creation_date }}</p>
      <h5>Contact Name: {{ booking.contact_name }} <span class="btn btn-secondary btn-sm disabled">Waiting
          Confirmation/Payment</span></h5>
      <div class="mb-3">
        <a href="/delete_items/{{ booking.id }}" class="btn btn-danger">Delete</a>
        <a href="/edit_booking/{{ booking.id }}" class="btn btn-primary">Update</a>
      </div>
    </div>
  </div>

  {% endif %}

</div>

{% endfor %}

{% endif %}

{% endblock %}